[Unit]
Description=FastAPI Backend
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/NoteWeb/
EnvironmentFile=/var/www/NoteWeb/.env

ExecStart=/var/www/NoteWeb/backendSrc/venv/bin/gunicorn backendSrc.main:app --bind 127.0.0.1:8000 --workers 2 --worker->

Restart=always

[Install]
WantedBy=multi-user.target
