.outlet-wrapper {
  flex: 1;
  min-height: 0;
}

.full-page {
    height: 100vh;
    background: linear-gradient(to right, #667eea, #b2c8d1);
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(52, 73, 94, 0.4);
    border-radius: 12px;
    border: 2px solid rgba(236, 240, 241, 1.0);
}

.middle-row {
  flex: 1;
  min-height: 0;
}
