.notes-page {
  flex: 1;
  min-height: 0;
}

.notes-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

/* width */
.notes-container::-webkit-scrollbar {
    width: 8px;
}

/* track */
.notes-container::-webkit-scrollbar-track {
    background: transparent;
}

/* thumb */
.notes-container::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 10px;
}

/* hover */
.notes-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.7);
}

.fab-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  border: none;
  background-color: rgba(236, 240, 241, 1.0);
  color: white;
  font-size: 32px;
  line-height: 1;
  color: rgba(44, 62, 80,1.0);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

.fab-btn:hover {
  background-color: rgba(149, 165, 166,1.0);
}
