.btn-styled {
    background-color: rgba(178, 190, 195, 0.0);
    color: rgba(223, 230, 233,1.0);
    border: 2px solid rgba(223, 230, 233, 1.0);
    border-radius: 12px;
}

.btn-styled:hover {
    background-color: rgba(223, 230, 233, 1.0);
    color: rgba(99, 110, 114, 1);
}