.note-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.note-modal {
    position: relative;
    z-index: 10000;
    background: #fff;
    padding: 20px;
    width: 500px;
    height: 600px;
    border-radius: 8px;
}

.note-modal {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note-textarea {
    flex: 1;
    resize: none;
}

.image-grid {
    display: grid;
    height: 100%;    
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 8px;
    margin-bottom: 12px;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
}

.image-box {
    display: flex;
    min-height: 0;  
    width: 100%;
    max-height: 100%;
    flex:1;
    border: 1px solid #ddd;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

.drop-zone {
  border: 2px dashed #aaa;
  min-height: 150px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.form-group {
  flex: 1;
  min-height: 0; /* ⭐ bắt buộc */
}

.rm-icon:hover {
    color: rgba(192, 57, 43,1.0);
    background-color: #fff;
}